/*color theme before: #23c6c8*/
.login-background {
    background: url('../img/workspace-1.jpg');
    background-size: cover;
}
.middle-box h1 {
    font-size: 140px;
    color: #f05a3a;
}

.main-action i.fa {
    margin-right: 5px;
}
.table-custom td:first-child, .table-custom td:last-child {
    width: 80px;
}

.table-action button {
    border: none;
    background: none;
    padding: 0;
    margin: 0 3px;
    outline: none;
}
.table-action button i.fa {
    color: #f05a3a;
    font-size: 24px;
}
.table-action button:disabled i.fa {
    color: #aca9a9;
}
.table-search-group {
    margin-top: 10px;
    margin-bottom: 10px;
}
.filter::before {
    position: absolute;
    top: -20px;
    font-size: 12px;
}
.bank::before {
    content: 'Ngân hàng';
}
.price::before {
    content: 'Đơn giá';
}
.dataTables_filter {
    display: none;
}
.ibox .label {
    font-size: 13px;
    background: none;
    border-width: 1px;
    border-style: solid;
}
.label-warning {
    color: #f8ac59;
    border-color: #f8ac59;
}
.label-primary {
    color: #f05a3a;
    border-color: #f05a3a;
}
.label-info {
    color: #f05a3a;
    border-color: #f05a3a;
}

.btn-close-modal {
    margin-bottom: 10px;
}

.modal-body {
    padding: 20px 30px 0px 30px !important;
}

.datepicker-modal {
    padding-bottom: 20px;
}

.table-search-group .col-md-3:nth-child(5), 
.table-search-group .col-md-3:nth-child(6),
.table-search-group .col-md-3:nth-child(7) {
    margin-top: 15px !important;
}

.dataTables_info, .dt-buttons {
    float: left;
}

.avatar {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-top: -5px;
}

table th {
    text-align: center !important;
}

table > thead, tfoot {
    color: #f05a3a;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 800px;
    }
}

@media (max-width: 976px) {
    input {
        margin-bottom: 5px;
    }

    select {
        margin-top: 20px;
    }
}

