@media (min-width: 977px) {
    div.table-custom td:nth-child(7) {
        width: 90px !important;
    }
    td.table-action {
        width: 200px !important;
    }
    div.table-search-group .col-md-4:last-child {
        margin-top: 15px !important;
    }
}

@media (max-width: 977px) {
    div.table-custom td:last-child {
        width: 175px !important;
    }
    div.table-search-group div:not(:first-child) {
        margin-top: 15px !important;
    }
    
}

div.table-search-group select option, select option[disabled]{
    color: #999999;
}

div.table-search-group div.date::before {
    position: absolute;
    top: -6px;
    left: 17px;
    z-index: 10;
    content: 'Ngày'
}

div.table-search-group div.amount::before {
    position: absolute;
    top: -6px;
    left: 17px;
    z-index: 10;
    content: 'Thành tiền'
}

div.table-responsive i.icon {
    font-size: 24px;
    color: rgb(240, 90, 58);
}

img.invoice-image {
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

